.App {
  text-align: center;
  background-color: #2e235c;
  background-image: linear-gradient(180deg, #2e235c 100%, #dbacd1 100%);
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: purple; */
}

.App-link {
  color: #61dafb;
}
