body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e235c;
  background-image: linear-gradient(180deg, #2e235c 69%, #f6f3eb 100%);
  background-repeat: no-repeat;
  height: 100vh;
  color: #a29db5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Nav bar styling*/

.section-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

#navbar-style {
  list-style-type: none; /* Remove bullets */
  padding: 15; /* Remove padding */
  margin: 0; /* Remove margins */
  display: flex;
  justify-content: space-around;
  color: #dbacd1;
}

ul.hover {
  color: whitesmoke;
}

/* body styling */

h1 {
  margin: 15px;
}

h2 {
  margin: 15px;
}

h3 {
  margin: 25px;
}

/* About page styling */

#photo-bio {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 45px;
  margin-right: 70px;
}

#bio-p {
  margin-left: 50px;
}

/* Footer styling */

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  height: 10px;
  position: absolute;
  width: 100%;
  height: 15%;
  right: 0;
  bottom: 0;
  left: 0;
}

#made-by {
  display: flex;
}

#social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Portfolio styling */

#gallery {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px 30px 30px 30px;
}

/* Contact styling */

.contactform {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  width: 25%;
  padding: 20px;
  background-color: #a29db5;
  color: #2e235c;
}

.formparent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin-bottom: 15px;
}

/* Resume styling */

#highlights {
  display: flex;
  flex-direction: row;
}

#resume-paragraphs {
  margin-left: 50px;
}
