* {
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e235c;
  background-image: linear-gradient(180deg, #2e235c 49%, #dbacd1 100%);
  background-repeat: repeat-n;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 15; /* Remove padding */
  margin: 0; /* Remove margins */
  display: flex;
  justify-content: space-around;
}

/* p {
  margin: 35px;
} */
h1 {
  margin: 15px;
}

h2 {
  margin: 15px;
}

#photo-bio {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#bio-p {
  margin: 20px;
}
